@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
  background: #e1e1e1;
}

.wrapper {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 2rem;
}
