<div class="card">
  <h1 class="card__title">Create new card</h1>

  <form class="card__form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="input__field" appearance="fill">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        formControlName="title"
        placeholder="Please enter a title"
      >
      <mat-error *ngIf="title?.hasError('required')">Please enter a title!</mat-error>
      <mat-error *ngIf="title?.hasError('minlength')">The title is too short!</mat-error>
      <mat-error *ngIf="title?.hasError('maxlength')">The title is too long!</mat-error>
    </mat-form-field>

    <mat-form-field class="input__field" appearance="fill">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description">
      <mat-error *ngIf="description?.hasError('required')">The description is too long!</mat-error>
    </mat-form-field>

    <mat-form-field class="input__field" appearance="fill">
      <mat-label>Img</mat-label>
      <input
        type="text"
        matInput
        formControlName="imageUrl"
        placeholder="Please enter a link to the image"
      >
      <mat-error *ngIf="image?.hasError('required')">Please enter a link to the image!</mat-error>
      <mat-error *ngIf="image?.hasError('pattern')">The image link is invalid!</mat-error>
    </mat-form-field>

    <mat-form-field class="input__field" appearance="fill">
      <mat-label>Link video</mat-label>
      <input
        type="text"
        matInput
        formControlName="videoUrl"
        placeholder="Please enter a link to the video"
      >
      <mat-error *ngIf="video?.hasError('required')">Please enter a link to the video!</mat-error>
      <mat-error *ngIf="image?.hasError('pattern')">The video link is invalid!</mat-error>
    </mat-form-field>

    <mat-form-field class="input__field" appearance="fill">
      <mat-label>Link video</mat-label>
      <input
        type="date"
        matInput
        formControlName="publishedAt"
        placeholder="Please enter a creation date"
      >
      <mat-error *ngIf="date?.hasError('required')">Please enter a creation date!</mat-error>
      <mat-error *ngIf="date?.hasError('isFutureDate')">The date is invalid!</mat-error>
    </mat-form-field>

    <button
      class="form__button"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Create card
    </button>

  </form>

</div>
