:host {
  display: block;
  padding: 2rem 0;
}

.logo {
  width: 100px;
  height: 100px;
  background: url("~src/assets/icons/youtube.svg") no-repeat center/100px;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
