:host {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.error-icon {
  width: auto;
  height: auto;
  font-size: 10rem;
}

.error-message {
  width: 355px;
  line-height: 1.1;
  font-size: 3rem;
  color: #3f51b5;
}
