.item {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: #e1e1e1;
  border-radius: 5px;
  // TODO: Change the color of the border depending on the date using a custom directive
  border-bottom: 6px solid red;
}

.item__statistics {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;

  & span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.item__title {
  height: 70px;
  overflow-y: hidden;
  margin-top: 2rem;
  max-width: 320px;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.15;
  text-align: right;
}

.item__button {
  height: 50px;
  min-width: 150px;
}
